/* Dashboard layout styles */
.dashboard-layout {
  width: 100%;
  height: 100%;
  --color: rgba(255, 255, 255, 0.123);
  background-color: #000000;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;

}

.dashboard-content {
  flex: 1;
  margin-left: 250px; /* Same as sidebar width */
  padding: 1.5rem;
  background: transparent; /* Deep Blue background */
  min-height: 100vh;
  transition: margin-left 0.3s ease;
  color: #FFFFFF; /* White text for better contrast */
}

/* Mobile styles */
@media (max-width: 768px) {
  .dashboard-content {
    margin-left: 0;
    padding-top: 4rem; /* Space for hamburger menu */
  }
}